::selection {
	background-color: #E13300;
	color: white;
}

::moz-selection {
	background-color: #E13300;
	color: white;
}

::webkit-selection {
	background-color: #E13300;
	color: white;
}

body {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	font-family: Verdana;
	font-size: 14px;
	text-align: justify;
	color: #3D3D3D;
	min-height: 100%; /* Mindesth�he f�r moderne Browser */
	height: auto !important; /* Important Regel f�r moderne Browser */
	height: 100%; /* Mindesth�he f�r den IE */
}

div#loginContainer {
	margin: 10px;
	width: 300px;
	height: 150px;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -150px;
	margin-top: -75px;
}

div#loginContainer form fieldset label {
	display: block;
	float: left;
	width: 100px;
}

div#loginContainer form fieldset legend {
	font-weight: bold;
	font-size: 20px;
}

a {
	color: #003399;
	background-color: transparent;
	font-weight: normal;
}

h1 {
	font-family: 'BebasNeueRegular', Arial, Helvetica, sans-serif;
    text-shadow: 0 0 5px #00c6ff;
	color: #fff;
	background-color: transparent;
	font-size: 36px;
	font-weight: normal;
	width: 33%;
	padding-left:20px;
	float:left;
}

h2, h3{
	color: #444;
	background-color: transparent;
	font-weight: normal;
	border-bottom: 1px solid #D0D0D0;
	-webkit-box-shadow: 0 0 8px #D0D0D0;
}

h2{
	font-size: 22px;
	text-align:center;
	width:90%;
	margin:auto;
	margin-bottom:20px;
	margin-top:20px;
}

h3 {
	font-size: 18px;
	width:90%;
	text-align:left;
}

div#applicationContainer {
	margin: 10px;
	/*border: 1px solid #D0D0D0;
	-webkit-box-shadow: 0 0 8px #D0D0D0;
	padding-bottom:10px;*/
	/*display:none;*/
	background: #feffff;
	background: -moz-linear-gradient(-75deg, #feffff 51%,#feffff 63%,#ddf1f9 83%,#5cc9ff 100%);
	background: -webkit-linear-gradient(-75deg, #feffff 51%,#feffff 63%,#ddf1f9 83%,#5cc9ff 100%);
	background: linear-gradient(165deg, #feffff 51%,#feffff 63%,#ddf1f9 83%,#5cc9ff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#5cc9ff',GradientType=1 );
}
div#head {
	/*background-color:#C5E8FF;*/
	background: #63B8EE;
  	background: linear-gradient(top,  #C5E8FF,  #5CC9FF);
  	background: -ms-linear-gradient(top,  #C5E8FF,  #5CC9FF);
  	background: -webkit-gradient(linear, left top, left bottom, from(#C5E8FF), to(#5CC9FF));
  	background: -moz-linear-gradient(top,  #C5E8FF,  #5CC9FF);
	padding-bottom:14px;
	padding-top:14px;
}
div#menu {
	height: 30px;
	/*border-bottom: 1px solid #D0D0D0;
	border-top: 1px solid #D0D0D0;
	-webkit-box-shadow: 0 0 8px #D0D0D0;
	background-color:#88D0FF;*/
  background: #468CCF;
  background: linear-gradient(top,  #5CC9FF,  #C5E8FF);
  background: -ms-linear-gradient(top,  #5CC9FF,  #C5E8FF);
  background: -webkit-gradient(linear, left top, left bottom, from(#5CC9FF), to(#C5E8FF));
  background: -moz-linear-gradient(top,  #5CC9FF,  #C5E8FF);
} 
div#menu ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}
div#menu ul li {
	padding-left: 5px;
	padding-right: 5px;
	height: 20px;
	font-size: 18px;
	padding-top: 4px;
	text-align: center;
	padding-bottom: 6px;
	/*border-right: 1px solid #D0D0D0;*/
	width: 130px;
	float: left;
	cursor:pointer;
}
div#menu ul li:hover{
	border-bottom:2px solid;
}
form fieldset {
	width:316px;
	margin:auto;
	padding-left:20px;
	padding-right:20px;
}
form fieldset label {
	display:block;
	float:left;
	width:100px;
	margin-top:1px;
	margin-bottom:1px;
}
form input {
	width:200px;
	margin-top:1px;
	margin-bottom:1px;
}
table.tablesorter {
       font-family:verdana;
       background-color: #CDCDCD;
       margin:auto;
       width: 90%;
       text-align: left;
}
table.tablesorter tr:hover td{
	cursor:pointer;
  background: #E8F2FF;	
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
       /*background-color: #e6EEEE;*/
  	background: linear-gradient(top,  #C5E8FF,  #5CC9FF);
  	background: -ms-linear-gradient(top,  #C5E8FF,  #5CC9FF);
  	background: -webkit-gradient(linear, left top, left bottom, from(#C5E8FF), to(#5CC9FF));
  	background: -moz-linear-gradient(top,  #C5E8FF,  #5CC9FF);
       /*border: 1px solid #FFF;*/
       padding: 4px;
       width:25%;
}
table.tablesorter thead tr .header {
  	background: linear-gradient(top,  #C5E8FF,  #5CC9FF);
  	background: -ms-linear-gradient(top,  #C5E8FF,  #5CC9FF);
  	background: -webkit-gradient(linear, left top, left bottom, from(#C5E8FF), to(#5CC9FF));
  	background: -moz-linear-gradient(top,  #C5E8FF,  #5CC9FF);
       background-repeat: no-repeat;
       background-position: center right;
       cursor: pointer;
}
table.tablesorter tbody td {
       color: #3D3D3D;
       padding: 4px;
       background-color: #FFF;
       vertical-align: top;
}
table.tablesorter tbody tr.odd td {
       background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
       background-image: url(../pictures/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
       background-image: url(../pictures/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
	background-color: #8dbdd8;
}
tr.colorRow {
	background-color:#D3E4ED;
}
div#bars{
	width:90%;
	margin:auto;
	margin-bottom:10px;
}
div#searchbar{
	height:30px;
	margin-bottom:10px;
	margin-top:10px;
}
div#searchbar div{
	float:left;
	width:25%;
}
div#searchbar div input{
	width:98%;
}
div#searchbar {
	display:none;
}
span.headline{
	width:120px;
	display:block;
	float:left;
}
div#person{
	width:50%;
	float:left;
}
div#visitsContainer{
	width:50%;
	float:right;
}
div#dataContainer{
	width:90%;
	margin:auto;
	padding-top:10px;
}
/*span.link{
	color:BLUE;
	text-decoration:underline;
	cursor:pointer;
}
span.link:hover{
	color:ORANGE;
}*/
span.link {
  font-family: verdana;
  color: #3D3D3D !important;
  font-size: 12px;
  box-shadow: 1px 1px 1px #BEE2F9;
  padding: 5px 12px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  /*border: 2px solid #737373;
  background: #63B8EE;
  background: linear-gradient(top,  #EEEBF0,  #BABABA);
  background: -ms-linear-gradient(top,  #EEEBF0,  #BABABA);
  background: -webkit-gradient(linear, left top, left bottom, from(#EEEBF0), to(#BABABA));
  background: -moz-linear-gradient(top,  #EEEBF0,  #BABABA);*/
  background: #63B8EE;
  background: linear-gradient(top,  #C5E8FF,  #5CC9FF);
  background: -ms-linear-gradient(top,  #C5E8FF,  #5CC9FF);
  background: -webkit-gradient(linear, left top, left bottom, from(#C5E8FF), to(#5CC9FF));
  background: -moz-linear-gradient(top,  #C5E8FF,  #5CC9FF);
  cursor:pointer;
}
span.link:hover {
  color: #14396A !important;
  background: #468CCF;
  background: linear-gradient(top,  #5CC9FF,  #C5E8FF);
  background: -ms-linear-gradient(top,  #5CC9FF,  #C5E8FF);
  background: -webkit-gradient(linear, left top, left bottom, from(#5CC9FF), to(#C5E8FF));
  background: -moz-linear-gradient(top,  #5CC9FF,  #C5E8FF);
}

div.diagnoseContainer, div.serviceContainer, div#ajaxLoader{
	display:none;
}
div.diagnoseContainer{
	margin-top:5px; 
	margin-bottom:5px;
	border:1px solid #D0D0D0;
	padding:2px;
}
div.head{
	float:left;
	width:29%;
	font-weight:bold;
	border-right:1px solid #D0D0D0;
}
div.content{
	width:70%;
	float:right;
}
div#ajaxLoader{
	text-align:center;
}
div#newDiagnoseFormContainer{
	margin-top:10px;
	margin-bottom:10px;
	text-align:center;
}
div.visit{
	width:90%;
}
p.buttonBlock {
	text-align: right;
	margin:0;
	padding:0;
}
div.serviceInnerWrapper{
	border:1px solid #D0D0D0;
	margin-top:5px;
	padding-top:1px;
	padding-bottom:1px;
}
div.uploadContainer, div.fotoContainer{
	display:none;
}
div.fotoContainer{
	text-align:center;
	padding-top:5px;
	padding-bottom:5px;
}
div.uploadContainer {
	width:500px;
	height:500px;
	padding:5px;
	background-image:url(../fancybox/bg_.png);
}
div.preview {
	width:500px;
	height:300px;
	overflow:auto;
	text-align:center;
}
 .custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: 'Bilder auswählen';
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
div#patientPortraiContainer{
	float:left;
	width:200px;
	padding-right:70px;
}
div#persondataContainer{
	width:450px;
	float:left;
}
img#portrait{
	width:200px;
}
div.visitMenuContainer{
	padding-top:5px;
	padding-bottom:5px;
	padding-left:40px;
	height:20px;
}